services:
  redis:
    image: redis/redis-stack-server:latest
    ports:
      - '127.0.0.1:6379:6379/tcp'
    environment:
      REDIS_ARGS: "--user ${REDIS_USERNAME} allcommands allkeys allchannels on >${REDIS_PASSWORD}"
    healthcheck:
      test: [ "CMD", "redis-cli", "--raw", "incr", "ping" ]
    volumes:
      - redis_data:/data

  mongodb:
    image: mongodb/mongodb-community-server:6.0-ubi8
    init: true
    environment:
      MONGODB_INITDB_ROOT_USERNAME: ${MONGO_ROOT_USER}
      MONGODB_INITDB_ROOT_PASSWORD: ${MONGO_ROOT_PASSWORD}
      MONGO_INITDB_DATABASE: ${MONGO_DB_NAME}
    ports:
      - 27017:27017
    volumes:
      - mongodb_data_container:/data/db

  backend:
    build: backend
    ports:
      - 8080:80
    depends_on:
      - redis
      - mongodb
    environment:
      HOST: 0.0.0.0
      PORT: 80
      REDIS_HOST: redis
      REDIS_PORT: 6379
      REDIS_USERNAME: ${REDIS_USERNAME}
      REDIS_PASSWORD: ${REDIS_PASSWORD}
      REDIS_DB: 0
      MONGO_DB_NAME: ${MONGO_DB_NAME}
      MONGO_CONN: mongodb://${MONGO_ROOT_USER}:${MONGO_ROOT_PASSWORD}@mongodb:27017/${MONGO_DB_NAME}?authSource=admin
      MY_CLIENT_ORIGIN: http://localhost:3000

  # frontend:
  #   build: frontend
  #   ports:
  #     - 3000:80
  #   depends_on:
  #     - backend
  #   environment:
  #     PORT: 80
  #     NEXT_PUBLIC_BACKEND_HOST: localhost:8080
  #     BACKEND_HOST: backend

volumes:
  redis_data:
  mongodb_data_container: