HOST=
PORT=
FRONTEND_URL=
MONGO_ROOT_USER=
MONGO_ROOT_PASSWORD=
MONGO_HOST=
MONGO_PORT=
MONGO_NAME=
REDIS_USER=
REDIS_PASSWORD=
REDIS_HOST=
REDIS_PORT=
REDIS_DB=
STORAGE_PROVIDER=
BUCKET_NAME=
MINIO_ROOT_USER=
MINIO_ROOT_PASSWORD=
MINIO_ENDPOINT=
MINIO_USE_SSL=
